body
{
    background: rgb(131,58,180);
    background: linear-gradient(30deg, rgba(182,52,41,1) 0%, rgba(209,117,87,1) 100%);
    font-family: 'Space Grotesk', 'Segoe UI', sans-serif;
    margin: 0;
    width: 100%;
    min-height: 100%;
}
.body-container
{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.body-main
{
    flex: 1;
}
.hero
{
    padding: 1em;
    margin-top: 4em;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero h1
{
    margin-top: 0;
    text-align: center;
    font-size: 4em;
    margin-bottom: 0.1em;
}
.hero .description
{
    font-size: 1.1em;
    text-align: center;
}
.hero .buttons
{
    display: flex;
    justify-content: center;
}
.wp-button
{
    text-align: center;
    position: relative;
    transition: 0.5s ease-in-out;
    padding: 0.5em;
    font-size: 1.5em;
    border: 0px solid;
}
.wp-button .gradient
{
    transition: 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(41,182,62,1) 0%, rgba(87,209,99,1) 100%);
    border-radius: 0.4em;
    opacity: 1;
    border: 0;
}
.wp-button .gradient.hover
{
    background: linear-gradient(90deg, rgba(87,209,99,1) 0%, rgba(87,209,99,1) 100%);
}
.wp-button:hover
{
    transform: scale(1.05);
}
.wp-button:hover .gradient.normal
{
    opacity: 0;
}
.wp-button .container
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}
.wp-button img
{
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
}
.wp-button
{
    cursor: pointer;
}
.wp-button p
{
    margin: 0;
    padding: 0;
}
.wp-button p, .wp-button img
{
    pointer-events: none;
    user-select: none;
}
footer
{
    background-color: #00000088;
    height: 3em;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a
{
    text-decoration: underline;
    color: whitesmoke;
}

@media (orientation: portrait) {
    body
    {
        font-size: 2.2em;
    }
}