body
{
    font-family: 'Space Grotesk', 'Segoe UI', sans-serif;
    margin: 0;
    width: 100%;
    min-height: 100%;
}
.body-container
{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.body-main
{
    flex: 1;
}
.hero
{
    padding: 1em;
    margin-top: 4em;
    color: #343434;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo
{
    font-weight: lighter;
}
.logo strong
{
    font-weight: bold;
}
.background-img
{
    position: fixed;
    max-width: 100%;
}
.background-img.tl
{
    top: 0;
    left: 0;
    z-index: -2;
    max-height: 700px;
}
.background-img.br
{
    bottom:0;
    right: 0;
    z-index: -1;
    max-height: 750px
}
img.amblem
{
    height: 8em;
}
.hero h1
{
    margin-top: 0;
    text-align: center;
    font-size: 4em;
    margin-bottom: 0;
}
.hero .description
{
    margin-top: 0;
    margin-bottom: 2em;
    font-size: 1.1em;
    text-align: center;
}
.hero .buttons
{
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    justify-content: center;
    align-items: stretch;
}
.gradient-button
{
    color: white;
    text-align: center;
    position: relative;
    transition: 0.5s ease-in-out;
    padding: 0.5em;
    font-size: 1.5em;
    border: 0px solid;
    border-radius: 0.4em;
}
.gradient-button .gradient
{
    transition: 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(182,182,182,1) 0%, rgba(209,209,209,1) 100%);
    border-radius: 0.4em;
    opacity: 1;
    border: 0;
}
.gradient-button .gradient.hover
{
    background: linear-gradient(90deg, rgba(209,209,209,1) 0%, rgba(209,209,209,1) 100%);
}
.gradient-button.wp .gradient
{
    background: linear-gradient(90deg, rgba(41,182,62,1) 0%, rgba(87,209,99,1) 100%);
}
.gradient-button.wp .gradient.hover
{
    background: linear-gradient(90deg, rgba(87,209,99,1) 0%, rgba(87,209,99,1) 100%);
}
.gradient-button.insta .gradient
{
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
.gradient-button.insta .gradient.hover
{
    background: linear-gradient(45deg, #fd1d1d, #e1306c, #c13584, #c13584, #e1306c, #fd1d1d);
}
.gradient-button.fb .gradient
{
    background: linear-gradient(90deg, #19aafd 0%, #0269e2 100%);
}
.gradient-button.fb .gradient.hover
{
    background: linear-gradient(90deg, #19aafd 0%, #19aafd 100%);
}
.gradient-button.mail
{
    color:#343434;
}
.gradient-button:hover
{
    transform: scale(1.05);
}
.gradient-button:hover .gradient.normal
{
    opacity: 0;
}
.gradient-button .container
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
    left: 0;
    align-items: center;
    text-align: center;
}
.gradient-button img
{
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
}
.gradient-button
{
    cursor: pointer;
}
.gradient-button p
{
    margin: 0;
    padding: 0;
    flex: 1;
}
.gradient-button p, .gradient-button img
{
    pointer-events: none;
    user-select: none;
}
footer
{
    height: 3em;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content:end;
    align-items: center;
}
footer a
{
    text-decoration: underline;
    color: whitesmoke;
    margin-right: 2em;
}

@media (orientation: portrait) {
    body
    {
        font-size: 2.2em;
    }
    h1.logo
    {
        font-size: 3em;
    }
    .background-img.br
    {
        max-height: 100%;
    }
}